.footer {
    background: #282846;
    height: auto;

    color: #fff;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    font-size: 15px;
}

.footer a {
    font-size: 14px;
}

.footer-container {
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.discription {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.logo-footer {
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 90%;
    margin: 2%;
}

.inner_logo {
    margin: 2%;
    display: flex;
    align-items: center;
    width: 100%;
    span {
        margin: 5%;
    }
}

.about-platform {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.contacts {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.disc {
    margin: 3%;
    display: flex;
    align-items: center;
}

.cont {
    display: flex;
    align-items: center;
    span {
        margin: 0 0 0 3%;
    }
}

.underLine {
    text-decoration-line: underline;
    margin: 2%;
}

.footer-line {
    width: 85%;
    height: 1px;
    background-color: #fff;
    margin: 3%;
}

.footer_span {
    margin-bottom: 5%;
}

@media (width <= 1400px) {
    .footer {
        font-size: 13px;
        width: auto;
        img {
            width: 30px;
            height: 30px;
        }
        a {
            font-size: 13px;
        }
        .footer-container {
            width: 85%;
        }
    }
}

@media (width <= 1080px) {
    .footer {
        font-size: 12px;
        img {
            width: 25px;
            height: 25px;
        }
        a {
            font-size: 12px;
        }
        .footer-container {
            width: 90%;
        }
    }
}

@media (width <= 720px) {
    .footer {
        font-size: 10px;
        img {
            width: 20px;
            height: 20px;
        }
        a {
            font-size: 10px;
        }
        .logo-footer {
            width: 60%;
        }
        .footer-container {
            width: 80%;
        }
        .contacts {
            height: 50%;
        }
    }
}

@media (width <= 550px) {
    .contacts {
        width: 50%;
        img {
            width: 18px;
            height: 18px;

            margin: 1%;
        }
    }
}

@media (width <= 390px) {
    .footer {
        font-size: 9px;
        img {
            width: 16px;
            height: 16px;
        }
        a {
            font-size: 9px;
            margin: 1%;
        }
        .disc {
            margin: 1%;
        }
        .about-platform {
            margin: 1%;
        }
        .footer-container {
            justify-content: start;
        }
        .contacts {
            width: 100%;
        }
        .cont {
            margin-bottom: 2%;
        }
    }
}
