.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        font-size: 30px;
    }
}

#popup {
    background: linear-gradient(to bottom, #9F4CEB, #8BC0FF);
    border-radius: 20px;
    display: flex;
    flex-direction: column;

    .btn-x {
        width: 35px;
        height: 35px;
        padding: 2% 0;
        display: flex;
        justify-content: center;
        align-items: center;

        background: #D660CC;
    }
}
#popup1 {
    background: linear-gradient(to bottom, #9F4CEB, #FFEDB5);

    border-radius: 20px;
    display: flex;
    flex-direction: column;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    z-index: 1000;

    height: 80%;
    overflow-y: auto;

    button {
        background: linear-gradient(to right, #D660CD, #9F4CEB);
    }
}

.img-people {
    display: flex;
    flex-direction: row;
    justify-content: center;

    flex-wrap: wrap;
}

.people_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 1%;

    img {
        width: auto;
        height: 280px;
    }
}

button {
    width: 280px;
    height: 60px;

    font-size: 18px;
}

@media (width <= 1400px) {
    .popup_parent {
        img {
            display: none;
        }
    }
    .popup_teacher {
        img {
            display: none;
        }
    }
    .popup_preschooler {
        img {
            display: none;
        }
    }
}

@media (width <= 1500px) {
    #popup {
        h1 {
            font-size: 24px;
        }
        button {
            width: 260px;
            height: 40px;

            font-size: 14px;
        }
    }
    #popup1 {
        button {
            width: 260px;
            height: 40px;

            font-size: 14px;
        }
    }
}